* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
}
header {
    background-color: #251857;
}
#topo {
    width: 900px;
    height: 300px;
    margin: auto;
}
header h1 {
    color: #fece1e;
    font-size: 75px;
    font-style: italic;
    letter-spacing: 12px;
    text-transform: uppercase;
    line-height: 70px;
    width: 600px;
    float: left;
    padding: 60px 0 30px;
}
header p{
    color: #FFF;
    font-size: 20px;
    font-style: italic;
    width: 600px;
    float: left;
}
header img {
    margin-top: 10px;
}
main h2 {
    color: #036b30;
    font-size: 32px;
    text-align: center;
    letter-spacing: 2px;
    padding: 30px 0 40px;
}
#conteudo {
    width: 1280px;
    height: 280px;
    margin: auto;
}
.regiao {
    border: 2px solid #CCC;
    border-radius: 15px;
    margin: 7px;
    float: left;
}
.regiao img {
    border-radius: 15px 15px 0 0 ;
    margin-top: -2px;
    margin-left: -2px;
}
.regiao a {
    display: block;
    width: 235px;
    height: 160px;
}
.regiao p {
    text-align: center;
    margin: 15px 0 20px;
    font-weight: bold;
    color: #222522;
}
footer {
    background-color: #251857;
    color: #FFF;
    padding: 20px 0 15px;
}
footer p {
    text-align: center;
    font-style: italic;
}